In [2]:
#Adım 2 Veriyi Anlama ve İnceleme
import pandas as pd

# CSV’yi oku (şu an düzgün)
df = pd.read_csv("C:/Users/Administrator/Desktop/Final Case 2/Superstore_clean_ready.csv")

# İlk 5 satıra bak
print(df.head())

# Sütun bilgileri ve veri tipleri
print(df.info())

# Eksik veri kontrolü
print(df.isnull().sum())

   Row ID        Order ID  Order Date   Ship Date       Ship Mode Customer ID  \
0       1  CA-2016-152156  2016-11-08  2016-11-11    Second Class    CG-12520
1       2  CA-2016-152156  2016-11-08  2016-11-11    Second Class    CG-12520
2       3  CA-2016-138688  2016-06-12  2016-06-16    Second Class    DV-13045
3       4  US-2015-108966  2015-10-11  2015-10-18  Standard Class    SO-20335
4       5  US-2015-108966  2015-10-11  2015-10-18  Standard Class    SO-20335

     Customer Name    Segment        Country             City  ...  \
0      Claire Gute   Consumer  United States        Henderson  ...
1      Claire Gute   Consumer  United States        Henderson  ...
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...

          Category  Sub-Category  \
0        Furniture     Bookcases
1        Furniture        Chairs
2  Office Supplies        Labels
3        Furniture        Tables
4  Office Supplies       Storage

                                        Product Name     Sales Quantity  \
0                  Bush Somerset Collection Bookcase  261.9600        2
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400        3
2  Self-Adhesive Address Labels for Typewriters b...   14.6200        2
3      Bretford CR4500 Series Slim Rectangular Table  957.5775        5
4                     Eldon Fold 'N Roll Cart System   22.3680        2

  Discount    Profit  Order_Year  Order_Month  Profit_Margin
0     0.00   41.9136        2016           11         0.1600
1     0.00  219.5820        2016           11         0.3000
2     0.00    6.8714        2016            6         0.4700
3     0.45 -383.0310        2015           10        -0.4000
4     0.20    2.5164        2015           10         0.1125

[5 rows x 24 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
 21  Order_Year     9994 non-null   int64
 22  Order_Month    9994 non-null   int64
 23  Profit_Margin  9994 non-null   float64
dtypes: float64(4), int64(5), object(15)
memory usage: 1.8+ MB
None
Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
Order_Year       0
Order_Month      0
Profit_Margin    0
dtype: int64

In [3]:
#Adım 3 Veri dönüşümleri
# Tarihleri dönüştür
df['Order Date'] = pd.to_datetime(df['Order Date'], errors='coerce')
df['Ship Date'] = pd.to_datetime(df['Ship Date'], errors='coerce')

# Sayısal dönüşüm
df['Sales'] = pd.to_numeric(df['Sales'], errors='coerce')
df['Profit'] = pd.to_numeric(df['Profit'], errors='coerce')
df['Discount'] = pd.to_numeric(df['Discount'], errors='coerce')

# Yeni kolon: kargo süresi
df['Ship Duration'] = (df['Ship Date'] - df['Order Date']).dt.days

# Gözden geçirme
print(df[['Order Date', 'Ship Date', 'Ship Duration']].head())

  Order Date  Ship Date  Ship Duration
0 2016-11-08 2016-11-11              3
1 2016-11-08 2016-11-11              3
2 2016-06-12 2016-06-16              4
3 2015-10-11 2015-10-18              7
4 2015-10-11 2015-10-18              7

In [4]:
# Dönüştürülmüş veriyi CSV olarak kaydetme (Power BI için)
df.to_csv("C:/Users/Administrator/Desktop/Final Case 2/Superstore.csv", index=False)